.add-course{
    background-image: url('https://i.ibb.co/ypFfrpS/image.png');
    background-size: cover;
    background-attachment: fixed;
}
.bg-add-course {
    padding: 150px 0 100px;
    background-color: rgba(29, 25, 25, 0.6); 
    color: white;
}
.add-course form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-course form input, textarea{
    width: 70%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 15px;
}