.readmore-button{
    background: #f46709;
}
.readmore-button:hover{
    background: #03153a;
}


.contact-button{
    background: #03153a;
    color: white;
}
.contact-button:hover{
    background: #f46709;
}


@media screen and (max-width: 600px) and (min-width: 320px) {

/* .single-product-banner{
    flex-direction: column;
} */



}