.social-media a{
    color: black;
}
.social-media a:hover{
    color: #f08229dc;
}
/* .bg-address{
    background-image: url('https://i.ibb.co/xX3RHX7/image.png');
    background-attachment: fixed;
    background-size: cover;
}

.address-text{
    background-color: rgba(3, 3, 3, 0.6);
    border-radius: 20px;
}

.address-text:hover{
    background-color: rgba(3, 3, 3, 0.9);
    border-radius: 20px;
} */